<div class="container">
	<h1>Portfolio</h1>
	<div id="elastic_grid"></div>
</div>
<script>
$(function() {
	$('#elastic_grid').elastic_grid({
		'items': [
 {
'title' : 'AU2Go',
'description' : 'AU2Go is a native app accessible from any smartphone, tablet or internet capable device. It provides important information at the fingertips of Adelphi University students, alumni, faculty, staff and visitors.',
'thumbnail' : ['<%= asset_path "small/au2go_1.png" %>'],
'large' : ['<%= asset_path "large/au2go_1.png" %>'],
'button_list' :
[
{ 'title':'Link', 'url':'https://itunes.apple.com/us/app/au2go/id881440294?mt=8'}
],
'tags' : ['Mobile']
},
{
	'title': 'eCampus',
	'description': 'The Adelphi eCampus portal gives students, faculty, and administration secure access to applications and services in one location. Once logged in to eCampus, they can access their university email, access CLASS, Moodle, and much more.',
	'thumbnail': ['<%= asset_path "small/ecampus1.png" %>'],
	'large': ['<%= asset_path "large/ecampus.png" %>'],
	'button_list': [
		{'title': 'Link', 'url': 'http://ecampus.adelphi.edu'}
	],
	'tags': ['Portals']
},
{
	'title': 'Language Lab Tutoring Scheduler',
	'description': 'PHP application allowing students to sign in and schedule an appointment with an available language lab tutor.',
	'thumbnail': ['<%= asset_path "small/tutoring_schedule.png" %>'],
	'large': ['<%= asset_path "large/tutoring_schedule.png" %>'],
	'button_list': [
		{'title': 'Link', 'url': 'http://google.com'}
	],
	'tags': ['PHP']
}
		]
	});
});
</script>
